.home-container {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #333;
    width: 25vw;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    margin-top: 32px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.card-body {
    background: #949393;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    font-size: 12px;
    gap: 20px;
}

.card-title {
    color: #fff;
    margin-bottom: 10px;
}

label:hover {
    font-weight: bold
}

p {
    color: #fff;
    font: 18px bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.button {
    color: #fff;
}

span {
    color: #99ff00;
}

.date {
    color: #99ff00;
}

.done {
    color: #99ff00;
}

.done-container {
    display: flex;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

span {
    font-weight: bold;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.search-bar {
    border-bottom: 1px solid #fff;
    background: #000;
    outline: none;
    color: #fff;
    height: 46px;
    padding-left: 5px;
}

.search-bar::placeholder {
    color: #fff;
}

.submit {
    margin-left: 10px;
}

.submit:hover {
    background: #01b6ce;
}

.voltar {
    color: #01b6ce;
}

.stats, .logout {
    width: 150px;
}

@media(max-width: 1004px) {
    .card-footer {
        flex-direction: column;
        padding: 50px 0 50px 0;
    }
}

@media(max-width: 624px) {
    p {
        font-size: 12px;
    }
}

.active {
    background: #949393;
}

.isActive {
    display: flex;
    gap: 5px;
}

.top-buttons {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.form-inline {
    display: flex;
    gap: 10px;
}