<div class="home-container" *ngIf="foundTask == null; else cardContainer">
    <button class="btn btn-danger btn-lg logout" (click)="logout()">Sair</button>
    <button class="btn btn-primary btn-lg stats" routerLink="/charts">Estatísticas</button>
        <div class="form-container">
            <form>
                <input type="text" class="search-bar" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Buscar Tarefa">
                <input type="submit" class="submit" (click)="searchTask(name)">
            </form>
        </div>

        <div class="card-container">

            <div class="card" *ngFor="let task of tasks">
        
                <div class="card-header">
                    <p class="card-title">{{task.Nome}}</p>
                </div>
        
                <div class="card-body" *ngIf="task.Feita == 'Pendente'; else isDone">
                    <p>Urgência: <span class="urgency">{{task.Urgencia}}</span></p>
                    <p>Concluir até <span class="date">{{task.DataFinal | date:'dd/MM'}}</span></p>
                </div>
        
                <ng-template #isDone>
        
                    <div class="card-body" *ngIf="task.StatusTarefa == false; else isActive">
                        <p>Concluída</p>
                        <div class="isActive">
                            <label for="done" class="done" class="active">Status</label>
                            <input type="checkbox" class="done" id="done" (click)="setStatus(task.Id, task.StatusTarefa)" [(ngModel)]="task.StatusTarefa">
                        </div>
                    </div>

                <ng-template #isActive>
                    <div class="card-body">
                        <p>Ativa</p>
                        <div class="isActive">
                            <label for="done" class="done" class="active">Status</label>
                            <input type="checkbox" class="done" id="done" (click)="setStatus(task.Id, task.StatusTarefa)" [(ngModel)]="task.StatusTarefa">
                        </div>
                    </div>
                </ng-template>
                        
                </ng-template>
                
                <div class="card-footer">
                    <button class="btn btn-outline-info" [routerLink]="['/edit', task.Id]">Editar</button>
                    <button type="button" class="btn btn-outline-danger"(click)="deleteTask(task.Id)">Excluir</button>
                    <div class="done-container">
                        
                        <select id="urgency" name="urgency" [(ngModel)]="task.Feita" (change)="finishTask(task.Id, task.Feita)">
                            <option *ngFor="let done of doneTable" [value]="done.Feita">{{done.Feita}}</option>
                        </select>
                    </div>
                </div>
                
            </div>
            
        </div>

</div>

<ng-template #cardContainer>
    <div class="home-container">

        <div class="form-container">
            <form>
                <input type="text" class="search-bar" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Buscar Tarefa">
                <input type="submit" class="submit" (click)="searchTask(name)">
            </form>
        </div>

        <div class="card-container" *ngFor="let task of foundTask">

            <div class="card">
        
                <div class="card-header">
                    <p class="card-title">{{task.Nome}}</p>
                </div>
        
                <div class="card-body" *ngIf="task.Feita == false; else isDone">
                    <p>Urgência: <span class="urgency">{{task.Urgencia}}</span></p>
                    <p>Concluir até <span>{{task.DataFinal | date: 'dd/MM'}}</span></p>
                </div>
        
                <ng-template #isDone>
        
                    <div class="card-body">
                        <p>Concluída</p>
                    </div>
                        
                </ng-template>
                
                <div class="card-footer">
                    <button class="edit" [routerLink]="['/edit', task.Id]">Editar</button>
                    <button type="button" class="btn btn-danger"(click)="deleteTask(task.Id)" >Excluir</button>
                    <select id="urgency" name="urgency" [(ngModel)]="task.Feita" (change)="finishTask(task.Id, task.Feita)">
                        <option *ngFor="let done of doneTable" [value]="done.Feita">{{done.Feita}}</option>
                    </select>
                    <button class="voltar" (click)="getTasks()">Voltar</button>
                </div>
                
            </div>
            
        </div>
        
    </div>
</ng-template>
