<div class="container" *ngFor="let task of tasks">
    <h1>{{task.Nome}}</h1>
    <div class="card">
        
        <form>
            <div class="card-header">
                <label for="task">Nome:</label>
                <input type="text" name="task" id="task" [(ngModel)]="task.Nome" [value]="task.Nome" autocomplete="off">
            </div>
    
            <div class="card-body">
                <label for="">Finalizar até:</label>
                <input type="date" name="date" id="date" [(ngModel)]="date">
                <label for="urgency">Nível de urgência</label>
                <select id="urgency" name="urgency" [(ngModel)]="urgency" >
                    <option *ngFor="let level of levels" [value]="level.Nivel" >{{level.Nivel}}</option>
                </select>
            </div>
            
            <div class="card-footer">
                <input type="submit" class="done" (click)="editTask(task.Id, task.Nome, urgency, date)">
                <button class="go-back" routerLink="/home">Voltar</button>
            </div>
            
        </form>
        
    </div>
</div>
