.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    width: 25vw;
    height: 100vh;
}

.btn-lg {
    width: 150px;
}

.title {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.submit {
    margin-top: 20px;
}