h1 {
    color: #fff;
    text-align: center;
    margin-top: 32px;
}

.create {
    background: #017b8b;
    border: none;
    border-radius: 10px;
    height: 52px;
    width: 150px;
    font: 16px bold;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.create:hover {
    background: #01b6ce;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.footer button {
    margin-bottom: 32px;
}