<div class="container">

    <div class="card">
        <p>{{name}}</p>
        <form>
            <div class="card-header">
                <label for="task">Nome:</label>
                <input type="text" name="task" id="task" [(ngModel)]="name">
            </div>
    
            <div class="card-body">
                <p>Finalizar até: <span>31/02</span></p>
            </div>
            
            <div class="card-footer">
                <input type="submit" class="done" (click)="postTask()">
            </div>

        </form>
        
    </div>
</div>
