<div class="container">

    <div class="card">
        <p>{{name}}</p>
        <form>
            <div class="card-header">
                <label for="task">Nome:</label>
                <input type="text" name="task" id="task" [(ngModel)]="name" autocomplete="off">
            </div>
    
            <div class="card-body">
            <label for="">Finalizar até:</label>
            <input type="date" name="date" id="date" [(ngModel)]="date">
            <label for="urgency">Nível de urgência</label>
            <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="urgency" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let level of levels" [value]="level.Nivel" >{{level.Nivel}}</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect02">Options</label>
                </div>
                
            </div>
            <label for="customFile">Descrição (*.txt file)</label>
            <input type="file" class="form-control" id="customFile" name="file" accept=".txt" (change)="file($event)"/>
            </div>

            <div class="card-footer"> 
                <input type="submit" class="btn btn-outline-success" (click)="postTask()">
                <button class="btn btn-danger" routerLink="/home">Voltar</button>
            </div>
            
        </form>
        <ckeditor 
        [config]="{ 
            toolbar: [[ 'Bold', 'Italic', 'Link' ]]
        }"
        ></ckeditor>
    </div>
</div>
