@import '../node_modules/ngx-toastr/toastr.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    user-select: none;
}

.toast-container .ngx-toastr {
    margin: 0 auto;
}