@import '../node_modules/ngx-toastr/toastr.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #000;
    user-select: none;
    padding: 0 100px 0 100px;
}

.toast-container .ngx-toastr {
    margin: 0 auto;
}